div {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    align-content: center;
    margin: 0px;
    color: #321d49;
}

h1 {
    color: #64C4DE;
    font-weight: 900;
    font-size: 400%;
    margin: 20px auto 30px auto;
    line-height: 100%;
}

h3 {
    font-size: 120%;
    margin-top: 48px;
}

p {
    text-align: left;
}

a {
    color: #BF0978;
    text-decoration: none;
}

#background {
    background-color: #F3FAFC;
    padding: 20px 0
}

#header {
    margin: 32px auto 16px auto;
    text-align: center;
    max-width: 800px;
}

#logo {
    width: 200px;
    height: auto;
}

.paras {
    margin: 32px auto;
    text-align: center;
    max-width: 65ch;
    width: 90%;
}

#map {
    width: 90%;
    max-width: 850px;
    height: 600px;
    margin: 10px auto 10px auto;
    outline: 2px solid #64C4DE;
}

.mapboxgl-popup {
    transform: translateY(-10px);
    font-family: 'Poppins', sans-serif;
}

.mapboxgl-popup-content {
    text-align: center;
    font-size: 105%;
}

.mapboxgl-popup-content h3 {
    font-size: 135%;
    margin-top: 10px;
}

.mapboxgl-popup-content p {
    text-align: center;
    margin: 8px;
}

.mapboxgl-popup #urlboxmap {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
}

.mapboxgl-popup span {
    color: #BF0978;
    cursor: pointer;
    padding-left: 8px;
    font-size: 80%;
}

#tip {
    width: 90%;
    max-width: 850px;
    margin: 0px auto 0px auto;
    padding-bottom: 1px;
}

#tip p {
    text-align: center;
    font-size: 80%;
    margin-bottom: 0;
}

#yesSSText {
    font-size: 110%;
    background-color: #64C4DE;
    color: #fff;
    padding: 8px;
}

#noSSText {
    font-size: 110%;
    background-color: #BF0978;
    color: #fff;
    padding: 8px;
}

#buttons * {
    margin: 5px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#legend {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin: 10px auto 0px auto;
    text-align: center;
}

#legend img {
    width: 100%;
    height: auto;
    display: none;
    padding-top: 8px;
}

#footer {
    width: 100%;
    height: 50px;
    background: #BF0978;
    color: #fff;
    font-size: 80%;
    position: relative;
}

#footer nav {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer nav a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px;
}

.fade-in-image {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

.btn {
    color: #ffffff;
    background: #BF0978;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 100%;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#btn-public_greenspace {
    color: #BF0978;
    background: #ffffff;
    text-decoration: none;
    outline: 2px solid #BF0978;
}

#btn-submit {
    margin-bottom: 0px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ul.share-buttons {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}